* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #e02f6b;
  --blue: #0000ff;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #efa2b4;
  --cyan-light: #aef1ee;
  --white: #ffffff;
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --backdrop-filter-blur: blur(5px);
}

body {
  min-height: 100vh;
  background-image: linear-gradient(220.55deg, #ff3f3f 0%, #063cff 100%);
  background-attachment: fixed;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style-type: none;
  padding-bottom: 5px;
}

img {
  width: 100%;
  border-radius: 8px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.app {
  padding: 50px 0;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  display: none;
  transition: 0.75s;
}

#cover.open__coverOrder,
#cover.open__coverPurchase,
#cover.open__coverCart {
  display: block;
}
/* Start Loading */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: var(--white-alpha-25);
  backdrop-filter: var(--backdrop-filter-blur);
  display: none;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease;
}

#loading div {
  border: 2px solid transparent;
  position: absolute;
  border-radius: 50%;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  animation: spin 1s linear infinite;
}

#loading div:nth-child(1) {
  height: 60px;
  width: 60px;
  border-color: var(--main-color);
}

#loading div:nth-child(2) {
  height: 45px;
  width: 45px;
  border-color: var(--blue);
  animation-duration: 1.2s;
}

#loading div:nth-child(3) {
  height: 30px;
  width: 30px;
  border-color: var(--orange);
}
/* End Loading */

/* Start seclect */
.select__smartPhone {
  margin-bottom: 70px;
}

.select__smartPhone select {
  width: 120px;
  height: 35px;
  background-color: #2a73dd;
  color: #f5f9fe;
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}
/* End seclect */

/* Start Card */
.card__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
  row-gap: 50px;
}

.card__item {
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
  background-color: #f5f9fe;
  transition: 0.5s;
}

.card__item:hover {
  transform: translateY(-40px);
}

.card__item .card__img {
  width: 90%;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #f5f9fe;
  padding: 8px;
}

.card__body h2 {
  font-size: 24px;
  text-align: center;
  margin: 10px 0;
  text-transform: capitalize;
}
.card__body h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.card__info li {
  font-size: 16px;
  font-weight: 500;
}

.card__info li span {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card__footer p {
  font-size: 20px;
  font-weight: 600;
}

.btn__item {
  background: #f5f9fe;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #2a73dd;
  box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  transition: 0.5s;
  cursor: pointer;
}

.btn__item:hover {
  box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
}
/* End Card */

/* Start cart__button */
.cart__button {
  position: fixed;
  top: 30px;
  right: 60px;
}

.cart__button button {
  border: none;
  background: none;
  cursor: pointer;
  color: #2a73dd;
}

.cart__button button:hover {
  color: #9932cc;
}

.cart__button button i {
  font-size: 35px;
}

.cart__button .total-qty {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  font-size: 16px;
  background-color: #e2ebfc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/* End cart__button */

/* Start cart */
.cart__content {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  height: 100%;
  z-index: 10;
  transition: 0.75s;
  background-image: linear-gradient(220.55deg, #ff3f3f 0%, #063cff 100%);
}

.open__cart__content {
  right: 0%;
}

.cart__content h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.close__cart {
  position: absolute;
  color: #2a73dd;
  top: 10px;
  right: 25px;
  font-size: 26px;
  border: none;
  background: none;
  cursor: pointer;
}

.cart__item .btn-qty {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #2a73dd;
  color: blue;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.cart__item .btn-qty:hover {
  background-color: #2a73dd;
  color: #ffffff;
}

.cart__item .qty {
  padding: 0 4px;
  font-size: 18px;
  font-weight: 500;
}

.remove__item {
  color: white;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  width: 10%;
}

.remove__item:hover,
.close__cart:hover {
  color: var(--main-color);
}

.cart__list {
  margin: 0 25px;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  width: 100%;
  height: 100px;
  color: #2a73dd;
}

.qty-change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  color: white;
}

.cart__item .cart__img {
  width: 10%;
}

.cart__item .price,
.cart__item .name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.cart__item .name {
  width: 25%;
  color: white;
}

.cart__item .price {
  width: 10%;
  color: white;
}

.cart__content .final {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.final p {
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-align: end;
  margin: 0 28px 16px 0;
}

.action button {
  cursor: pointer;
  transition: 0.3s;
  padding: 15px 30px;
  margin-right: 25px;
  border-radius: 8px;
  font-size: 20px;
  border: #2a73dd;
  color: #2a73dd;
  transition: 0.5s;
}

.action button:hover {
  background-color: #2a73dd;
  color: #ffffff;
}

.btn__buy i {
  color: #000080;
}

.btn__clear i {
  color: #e02f6b;
}

.cart__list .cart__title {
  text-align: center;
  color: #2a73dd;
  font-size: 30px;
  font-weight: 500;
  margin-top: 25%;
}

/* End cart */

/* Start limit purchase */
#limit__purchase {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 180px;
  z-index: 20;
  background-image: linear-gradient(220.55deg, #ff3f3f 0%, #063cff 100%);
  padding: 15px;
  border-radius: 8px;
  transition: 0.5s;
  display: none;
}

#limit__purchase.open__limit__purchase {
  display: block;
}

#limit__purchase h2 {
  margin: 0 auto;
  text-align: center;
  color: #e02f6b;
  font-size: 26px;
  font-weight: 500;
  width: 80%;
  padding-bottom: 15px;
}

.btn__ok {
  margin: auto;
  display: block;
  padding: 15px 40px;
  border-radius: 8px;
  border: none;
  background-color: #2a73dd;
  color: #aef1ee;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
  width: 80%;
}
/* End limit purchase */

/* Start Invoice */
.invoice {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 90%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(220.55deg, #ff3f3f 0%, #063cff 100%);
  z-index: 20;
  border-radius: 8px;
  padding: 25px;
  color: #2a73dd;
  font-size: 20px;
  font-weight: 400;
  display: none;
}

.shipping__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.shipping__items__price,
.shipping__item__names {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-weight: 500;
}

.invoice .payment {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: white;
}

.payment div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment span {
  color: #e02f6b;
  font-weight: 500;
}

.invoice .order {
  display: flex;
  position: absolute;
  bottom: 10%;
  width: 40%;
  justify-content: space-around;
}

.order .btn {
  padding: 15px 35px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #aef1ee;
  border: none;
}

.order .btn__order {
  background-color: #2a73dd;
}

.order .btn__cancel {
  background-color: #e02f6b;
}

.invoice__final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(220.55deg, #ff3f3f 0%, #063cff 100%);
  z-index: 20;
  width: 400px;
  height: 500px;
  padding: 50px 40px;
  border-radius: 8px;
  display: none;
}

.order__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.invoice__final .order__details p {
  border-bottom: 1px dashed white;
  padding: 10px 0;
}

.invoice__final .order__details span {
  color: rgb(11, 216, 107);
}

.thanks {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(220.55deg, #ff3f3f 0%, #063cff 100%);
  z-index: 20;
  height: 180px;
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  display: none;
}

.thanks .order__details p {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.open {
  display: block;
}
/* End Invoice */
